.ProjectHero {
    width: calc(100vw - 81px);
    height: 100vh;
    padding-left: 81px;
    padding-top: 0;
    top: 0;
    position: absolute;

    background: url("../../assets/svg/web-bgedition.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: spawnProjects .3s ease;
}

.ProjectHero .info .data,
.ProjectHero .info .extra {
    animation: spawnProjects .3s ease .1s;
}

.ProjectHero .info {
    /* 5vh è il padding top */
    height: calc(85vh - 5vh);
    /* 40px è il padding left */
    width: calc(100% - 20px - 40px);
    padding-top: 5vh;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
}

.ProjectHero .info .site-img-container {
    width: 55%;
    height: fit-content;
}

.ProjectHero .info .site-img-container .site-img {
    width: calc(100% - 8px);
    height: fit-content;
    object-fit: contain;
    border: solid 4px var(--white);
    cursor: pointer;
}

.ProjectHero .info .data {
    width: calc(45% - 20px);
    height: fit-content;
    max-height: 60%;
}

.ProjectHero .info .data .site-name {
    text-align: center;
    font-size: 55px;
    margin: 10px 0;
    font-weight: 700;
}

.ProjectHero .info .data .site-decription {
    padding: 0 15px;
    font-size: 32px;
    color: var(--light-gray);
    font-weight: 400;
}

.ProjectHero .info .extra {
    width: 55%;
    font-size: 40px;
    font-weight: 400;
    padding-left: 10px;
}

.ProjectHero .info .extra .date {
    margin: 0;
    padding: 7px 0;
}

.ProjectHero .info .extra .link {
    color: var(--azure);
    cursor: pointer;
}



/* eventi */

.ProjectHero .events {
    /* 40px è il padding laterale */
    width: calc(100% - 20px - 40px);
    padding: 0 20px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProjectHero .events .next-left,
.ProjectHero .events .next-right {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;

    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.ProjectHero .events .next-left {
    background-image: url("../../assets/svg/left-arrow.svg");
}

.ProjectHero .events .next-right {
    background-image: url("../../assets/svg/right-arrow.svg");
}

.ProjectHero .events .next-left:hover,
.ProjectHero .events .next-right:hover {
    transform: scale(1.1);
    box-shadow: -3px 3px 6px var(--light-black);
}

.ProjectHero .events .next-left:active,
.ProjectHero .events .next-right:active {
    transform: scale(1.02);
    box-shadow: none;
}

.ProjectHero .events .search {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ProjectHero .events .search .submit,
.ProjectHero .events .search .search-bar {
    all: unset;

    height: 6vh;
    width: 80%;
    background-color: var(--light-black);
    border: solid 1px var(--black);
    border-radius: 10px;
}

.ProjectHero .events .search .search-bar {
    width: 80%;
    padding-left: 6px;
    font-size: 32px;
}

.ProjectHero .events .search .submit {
    width: 6vh;
    background-image: url("../../assets/svg/loupe.svg");
    background-size: 5vh;
    background-position: center;
    background-repeat: no-repeat;
    transition: box-shadow .2s ease;
    cursor: pointer;
}

.ProjectHero .events .search .submit:hover {
    box-shadow: -3px 3px 6px 2px var(--light-black);
}

.ProjectHero .events .search .submit:active {
    box-shadow: -3px 3px 3px var(--light-black);
}


.ProjectHero .info[slide='1'] {
    animation: wobbleProject .3s 1;
}


@keyframes spawnProjects {
    from {
        transform: translate(0, -100vw);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes wobbleProject {
    0% {
        filter: blur(40px);
    }

    25% {
        transform: rotate(9deg);
    }

    50% {
        transform: rotate(-18deg);
    }

    75% {
        transform: rotate(3deg);
        filter: blur(0px);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* -------------------------------------------------------------------------------------------------> mobile gui */
@media only screen and (max-width: 750px) {

    .ProjectHero {
        width: 100%;
        height: calc(100vh - 81px);
        padding-left: 0;
        padding-top: 81px;
        top: 0;
    }

    .ProjectHero .info {
        /* 5vh è il padding top */
        height: calc(85vh - 5vh);
        /* 40px è il padding left */
        width: calc(100% - 20px);
        padding-top: 5vh;
        padding-left: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    /* sposto in cima la parte data */
    .ProjectHero .info>div:nth-child(2) {
        order: -1;
    }

    .ProjectHero .info .site-img-container {
        width: 95%;
        height: fit-content;
    }

    .ProjectHero .info .data {
        width: calc(100% - 20px);
        height: 35vh;
        overflow-y: scroll;
    }

    .ProjectHero .info .data .site-name {
        text-align: center;
        font-size: 45px;
        margin: 5px 0;
    }

    .ProjectHero .info .data .site-decription {
        margin: 0;
        font-size: 18px;
    }

    .ProjectHero .info .extra {
        width: 90%;
        font-size: 18px;
        font-weight: 500;
        padding-left: 5px;
    }



    /* eventi */

    .ProjectHero .events {
        /* 40px è il padding laterale */
        width: calc(100% - 20px);
        padding: 0;
        padding-bottom: 10px;
        height: 6vh;
    }

    .ProjectHero .events .next-left,
    .ProjectHero .events .next-right {
        height: 5vh;
        width: 5vh;
        background-size: 40%;
    }

    .ProjectHero .events .next-left:hover,
    .ProjectHero .events .next-right:hover {
        transform: none;
        box-shadow: none;
    }

    .ProjectHero .events .next-left:active,
    .ProjectHero .events .next-right:active {
        transform: none;
    }

    .ProjectHero .events .search {
        height: 100%;
        width: 70%;
        gap: 5px;
    }

    .ProjectHero .events .search .submit,
    .ProjectHero .events .search .search-bar {
        height: 4vh;
    }

    .ProjectHero .events .search .search-bar {
        font-size: 16px;
    }

    .ProjectHero .events .search .submit {
        width: 4vh;
        background-size: 70%;
    }

    .ProjectHero .events .search .submit:hover {
        box-shadow: none;
    }

    .ProjectHero .events .search .submit:active {
        box-shadow: none;
    }
}