* {
    --black: #101010;
    --light-black: #1D1D1D;
    --dark-blue: #393A43;
    --white: #eee;
    --light-gray: #cfcfcf;
    --cyan: #5A63CA;
    --dark-cyan: #3e48af;
    --blue: #1c2479;
    --azure: #878ed8;
}